@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --transparent: rgba(255, 255, 255, 0);
  --background: #ffffff;
  --background-2: #eeeeee;
  --background-3: #dadada;
  --background-alt: #fafafa;
  --border: #979797;
  --text-color: #000000;
  --text-color-2: #444444;
  --disabled-text: #bababa;
  --color-primary-100: #ccecff;
  --color-primary-300: #66b8e5;
  --color-primary-500: #0084ca;
  --color-primary-600: #0081d7;
  --color-primary-700: #007de5;
  --color-danger-300: #ff9797;
  --color-danger-500: #ff6565;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(
    var(--color-primary-500) 50%,
    var(--background) 50%
  );
  display: grid;
  align-items: center;
  justify-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.loading-container-full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: var(--background);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: var(--color-primary-500) var(--transparent);
}

.card::-webkit-scrollbar-track {
  background: var(--transparent);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary-500) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-500);
  border-radius: 10px;
  border: 3px solid var(--background);
}
